/* @import url("http://fonts.cdnfonts.com/css/pokemon-solid");

* {
  margin: 0px;
}

header {
  background-color: beige;
  font-family: 'Pokemon Solid', sans-serif; 
  font-size: 20px;                                        
  height: 15vh;
  
}

header h1{
    border: 2px solid red;
    width: fit-content;
}

main {
  background-color: aquamarine;
  height: 80vh;
}

footer {
  background-color: cadetblue;
  height: 5vh;
} */
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: rubik;
  color: white;

  /* background-image: url("https://images7.alphacoders.com/592/592678.jpg"); */
  background-image: url("https://i.pinimg.com/originals/7a/59/e6/7a59e6b2bff603793ce1777dc47a8502.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /*   
  background-repeat: no-repeat;
  background-position: center center; */
}

header {
  background-color: rgba(0, 0, 0, 0.938);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

header h1 {
  color: white;
  text-transform: uppercase;
  font-size: 54px;
  padding-left: 30px;
}

.searcher {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-right: 100px;
}

.searcher i {
  color: white;
  padding-top: 2px;
  font-size: 20px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 150px;
  padding: 30px;
  background-color: white;
  text-align: center;
  border-radius: 20px;
}

.card-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px;
  color: black;
}

.types-container {
  display: flex;
  justify-content: space-around;
}

.card-subtitle {
  font-weight: lighter;
  color: white;
  border-radius: 2px;
  width: 40px;
  text-align: center;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.card-image {
  height: 180px;
}

.card-stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 150px;
  padding: 30px;
  background-color: aquamarine;
  text-align: center;
  border-radius: 20px;
}

#pokedex {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-gap: 30px;
  text-align: center;
  background-color: white; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 10px 30px 10px;

  border-radius: 10px;
}

.card:hover {
  animation: bounce 0.5s linear;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}
